@keyframes fadeRightToLeft {
  from {
    transform: translate3d(100vw, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

body {
  height: 100vh;
  background: black;
  color: white;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 50px min-content auto 60px;
  grid-template-areas:
    "header"
    "controls"
    "map"
    "footer"
}

/* ============================= HEADER ============================= */
header {
  grid-area: header;
  margin: auto;
  font-size: 30px;
  font-family: 'Francois One', sans-serif;
}

/* ========================== TRAIN BUTTONS ========================= */

#train-icons {
  grid-area: controls;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 500px;
}

.train {
  /* width: 40px; */
  height: 40px;
  animation-duration: 1s;
  animation-name: fadeRightToLeft;
}

/* =============================== MAP ============================== */

.map-container {
  position: relative;
  margin: 0 30px;
  grid-area: map;
  min-height: 100px;
  max-height: 100%;
}

#clock {
  position: absolute;
  z-index: 777;
  right: 0;
  top: 0;
  grid-area: time;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-family: 'Bitter', serif;
  font-size: 13px;
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-top, .leaflet-left, .leaflet-bottom, .leftlet-right {
  display: none;
}

/* ============================= FOOTER ============================= */

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Bitter', serif;
  font-size: 12px;
  margin: 10px 0;
}

.links {
  margin-top: 5px;
}

.link-images {
  width: 25px;
  margin: 0 2px;
}
