body {
  height: 100vh;
  background: black;
  font-family: 'Francois One', sans-serif;
  color: white;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 60px auto 60px;
  grid-template-areas:
    "header"
    "controls"
    "map"
    "footer"
}

/* @media only screen and (max-width: 1000px) {
  .wrapper {
    grid-template-rows: 50px 80px 30px auto 50px;
    min-width: 500px;
  }
} */

header {
  grid-area: header;
  margin: auto;
  font-size: 30px;
}

.controls {
  grid-area: controls;
  /* margin: auto; */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}

#clock {
  position: absolute;
  z-index: 777;
  right: 0;
  top: 0;
  grid-area: time;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-family: 'Bitter', serif;
  font-size: 13px;
}

.map-container {
  position: relative;
  margin: 0 30px;
  grid-area: map;
  min-height: 100px;
  max-height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Bitter', serif;
  font-size: 12px;
  margin: 10px 0;
}

.links {
  margin-top: 5px;
}

.link-images {
  width: 25px;
  margin: 0 2px;
}

.train {
  width: 40px;
}

.leaflet-top, .leaflet-left, .leaflet-bottom, .leftlet-right {
  display: none;
}
