body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 40px 30px auto 50px;
  grid-template-areas:
    "header"
    "controls"
    "time"
    "map"
    "footer"
}

.header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.controls {
  grid-area: controls;
}

#clock {
  grid-area: time;
}

.map-container {
  grid-area: map;
  min-height: 100px;
  max-height: 100%;
}

.footer {
  grid-area: footer;
}

.link-images {
  width: 20px;
  height: 20px;
}

.train {
  width: 40px;
  height: 40px;
}
